div[mat-dialog-content] {
  padding: 20px;
  text-align: center;
}

h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

div[mat-dialog-actions] {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 16px;
}
