mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: #584cca;
  color: white;
}

.toolbar-title {
  margin-left: 16px;
  font-size: 20px;
  font-weight: 500;
}

.sidenav-container {
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav {
  width: 250px;
  padding-top: 20px;
}

mat-sidenav-content {
  padding: 20px;
  background-color: #fafafa;
}

.active-link {
  background-color: rgba(63, 81, 181, 0.1);
  color: #3f51b5;
}

.active-link mat-icon {
  color: #3f51b5;
}

mat-nav-list a {
  margin-bottom: 4px;
}

mat-divider {
  margin: 12px 0;
}