@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '@swimlane/ngx-datatable/index.css';
@import '@swimlane/ngx-datatable/themes/material.css';
@import '@swimlane/ngx-datatable/themes/dark.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.barraTituloCRUD {
  background: rgb(24, 2, 53);
  color: #fff;
  height: 75px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
