@import '@angular/material/prebuilt-themes/indigo-pink.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.barraTituloCRUD {
  background: rgb(24, 2, 53);
  color: #fff;
  height: 75px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Estilos para ngx-datatable */
.ngx-datatable {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ngx-datatable .datatable-header {
  background-color: #3f51b5;
  color: white;
}

.ngx-datatable .datatable-header .datatable-header-cell {
  color: white;
  font-weight: 600;
  font-size: 14px;
  padding: 8px;
}

.ngx-datatable .datatable-body-row:hover {
  background-color: #f5f5f5;
}

.ngx-datatable .datatable-body-row.active {
  background-color: #e3f2fd;
}

.ngx-datatable .datatable-body-cell {
  padding: 8px;
}

.ngx-datatable .datatable-footer {
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.54);
}
